<h3 class="section-title">work experience</h3>
<h3 class="main-color job-title">React Native Frontend Developer</h3>
<div style="display: flex; justify-content: space-between; align-items: center">
  <h4>Feb 2022 - Apr 2022 | kusana co. ltd.</h4>
</div>
<!-- description -->
<ul>
  <li>create admin pages</li>
  <li>
    follow well structured coding style, clean-architecture,
    domain-driven-development
  </li>
  <li>experience in start up company</li>
</ul>
<div style="display: flex">
  <app-skill-icon
    *ngFor="let skill of experience.skills"
    [title]="skill"
  ></app-skill-icon>
</div>
