body {
  font-family: "poppins";
  font-size: 0.8rem;
  padding: 0.5rem;

  // to solve pdf background-color missing issue
  // https://qiita.com/yuuuking/items/7c0f2d2b64cadf12b789
  -webkit-print-color-adjust: exact;
}

.name {
  font-size: 3rem;
  letter-spacing: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  line-height: 3rem;
}

.role {
  text-transform: uppercase;
  font-weight: 600;
  margin-top: 0px;
  margin-bottom: 10px;
}

.section-title {
  text-transform: uppercase;
}

.company-name {
  text-transform: uppercase;
}

.address-title {
  margin-bottom: 0;
}

.address {
  margin-top: 0;
}
